body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

p {
    color: #666;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #67d39f;
    border-bottom: 1px solid #000;
}

nav a {
    color: hsl(219, 73%, 40%);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    color: #777;
}

div {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

p {
    margin-bottom: 10px;
}

p span {
    display: block;
    margin-bottom: 5px;
}

form {
    text-align: center;
    margin-top: 20px;
}

form button[type="submit"] {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button[type="submit"].process_button {
    background-color: #0015ff;
}

form button[type="submit"].delete_button:hover {
    background-color: #cc0000;
}

form button[type="submit"].process_button:hover {
    background-color: #726dc7;
}

.processed {
    background-color: #07781e;
    color: #ffffff;
}

.order {
    color: #e18f8f;
}

.order:hover {
    color: #cb3434;
}

.pending {
    background-color: #4f5155;
    color: #ffffff;
}

#home_img {
    width: 100%;
    height: auto;
}

.return_link {
    color: #0000ff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}