<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('customers') }}">Customers</a>
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('orders') }}">Orders</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>