{% extends "base.html" %}

{% block content %}
<h1>Customers</h1>
{% for customer in customers %}
<p>
    <nav>
    <!-- first param needs to be the name of the function in the app.py file (customer_detail) -->
    <a href="{{ url_for('customer_detail', customer_id=customer.id) }}">
        <span>{{ customer.id }}</span>
        <span>{{ customer.name }}</span>
        <span>{{ customer.phone }}</span>
        <span>{{ customer.balance }}</span>
        <!-- {% for order in customer.orders %}
        <span>{{ order }}</span>
        {% endfor %} -->
    </a> 
    </nav>
</p>
{% endfor %}
{% endblock %}