{% extends "base.html" %}

{% block content %}
<h1>Customers</h1>

{% for customer in customers %}
<div>
    <p>
        <!-- first param needs to be the name of the function in the app.py file (customer_detail) -->
        <a href="{{ url_for('customer_detail', customer_id=customer.id) }}">
            <span>Customer ID: {{ customer.id }}</span></a>
            <span>Customer Name: {{ customer.name }}</span>
            <span>Phone #: {{ customer.phone }}</span>
            <span>Balance: ${{ customer.balance }}</span>
            <!-- {% for order in customer.orders %}
                <a href="{{ url_for('order_detail', order_id=order.id)}}"><span>Order ID: {{ order.id }}</span></a>
                {% endfor %} -->
            </p>
        </div>
            {% endfor %}
{% endblock %}