{% extends "base.html" %}

{% block content %}


<div>
    <p>
        <span>Customer Name: {{ customer.name }}</span>
        <span>Customer ID: {{ customer.id }}</span>
        <span>Customer Balance: ${{ customer.balance }}</span>
    </p>
        {% for order in customer.orders %}
            {% set classname = "pending" %}
            {% if order.processed %}
                {% set classname = "processed" %}
            {% endif %}
            <p class = "{{ classname }}">
                <a href="{{ url_for('html.order_detail', order_id=order.id) }}" class = "order"><span>Order ID: {{ order.id }}</span></a><br>

            <span>Total: ${{ order.calculate_total() }}</span>
            {% else %}
            <span>Total: $0.00</span>
            </p>
    {% endfor %}
</div>
<p><a href="{{ url_for('html.customers') }}">Back to Customers</a></p>
{% endblock %}