{% extends "base.html" %}

{% block content %}
<h1>Orders</h1>
{% for order in orders %}
<div>
    {% set classname = "pending" %}
    {% if order.processed %}
        {% set classname = "processed" %}
    {% endif %}
    <p class = "{{ classname }}">
        <span>Order ID: {{ order.id }}  </span>
        <span>Customer: {{ order.customer.name }}  </span>
        <span>Product: {{ order.items[0].product.name }} </span>
        <span>Product: ${{ order.items[0].product.price }} </span>
        <span>Quantity: {{ order.items[0].quantity }} </span>
        <span>Total: {{ order.total }}</span>
    </p>
</div>
    {% endfor %}
{% endblock %}