<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for order in orders %}
        <p>
            <span>Order ID: {{ order.id }} | </span>
            <span>Customer: {{ order.customer.name }} | </span>
            <span>Product: {{ order.items[0].product.name }} |</span>
            <span>Product: ${{ order.items[0].product.price }} |</span>
            <span>Quantity: {{ order.items[0].quantity }} |</span>
            <span>Total: {{ order.total }}</span>
        </p>
    {% endfor %}
</body>
</html>