{% extends "base.html" %}

{% block content %}
        <span>Order Number: {{ order.id }}</span>
    <div>

        {% for item in order.items %}
        <p>
            <span>Product: {{ item.product.name }}</span>
            <span>Price: ${{ item.product.price }}</span>
            <span>Quantity Available: {{ item.quantity }}</span>
        </p>
        {% endfor %}
    </div>
    <form action="{{ url_for('order_delete', order_id=order.id) }}" method="post">
        <input type="submit" value="Delete Order">
    </form>
        <a href="/customers/{{ order.customer_id }}">Back to Orders </a>

   {% endblock %}